.wrapper {
  background-color: rgb(98, 51, 28);
  display: grid;
  grid-template-rows: 110px 600px;
  grid-template-columns: 3fr 9fr;
  grid-template-areas:
    "sh  hd  "
    "mn  ct";
}

.header {
  grid-area: hd;
  background-color: rgba(57, 38, 26, 0.749);
  border-radius: 10px;
  border: solid 5px rgb(110, 68, 68);
  color:  rgba(255, 217, 142, 0.804);
  text-align: center;
  font-family: cursive;
}
.search {
  grid-area: sh;
  background-color: rgba(57, 38, 26, 0.749);
  border-radius: 10px;
  border: solid 5px rgb(110, 68, 68);
  color: rgba(255, 217, 142, 0.804);
  font-family: cursive;
}
.menu {
  grid-area: mn;
  background-color: rgba(153, 120, 71, 0.864);
  border-radius: 10px;
  border: solid 5px rgb(110, 68, 68);
  font-family: cursive;
}
.content {
  grid-area: ct;
  background-color: rgba(255, 217, 142, 0.804);
  border-radius: 10px;
  border: solid 5px rgb(110, 68, 68);
  text-align: center;
  font-family: cursive;
}